In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration=[2,3,6,4]
df=pd.DataFrame(data={'course_name':course_name,'duration':duration})

In [4]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

Q1.Write a code to print the data present in the second row of the dataframe, df.

In [8]:
df.iloc[1]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?

In [9]:
""""In pandas, loc and iloc are two different functions used to access data from a DataFrame. They are used for indexing and selecting rows and columns from the DataFrame in different ways:

loc (Label-based Indexing):

loc is primarily used for label-based indexing, meaning you can access data using row and column labels.
The syntax for loc is df.loc[row_label, column_label].
The row label can be an index label (integer or string) of the DataFrame, and the column label can be the column name.
It allows you to access data based on the actual labels assigned to rows and columns, which can be non-integer and non-sequential.
For example: df.loc[2, 'course_name'] will give you the value in the row with label '2' and column with label 'course_name'.
iloc (Integer-based Indexing):

iloc is used for integer-based indexing, meaning you can access data using integer positions (row and column indices) of the DataFrame.
The syntax for iloc is df.iloc[row_index, column_index].
The row index and column index must be integer values, and they start from 0 for the first row/column, 1 for the second row/column, and so on.
It allows you to access data based on the numerical position of rows and columns, regardless of the actual labels assigned to them.
For example: df.iloc[1, 0] will give you the value in the second row (index 1) and first column (index 0)."""

'"In pandas, loc and iloc are two different functions used to access data from a DataFrame. They are used for indexing and selecting rows and columns from the DataFrame in different ways:\n\nloc (Label-based Indexing):\n\nloc is primarily used for label-based indexing, meaning you can access data using row and column labels.\nThe syntax for loc is df.loc[row_label, column_label].\nThe row label can be an index label (integer or string) of the DataFrame, and the column label can be the column name.\nIt allows you to access data based on the actual labels assigned to rows and columns, which can be non-integer and non-sequential.\nFor example: df.loc[2, \'course_name\'] will give you the value in the row with label \'2\' and column with label \'course_name\'.\niloc (Integer-based Indexing):\n\niloc is used for integer-based indexing, meaning you can access data using integer positions (row and column indices) of the DataFrame.\nThe syntax for iloc is df.iloc[row_index, column_index].\nThe row index and column index must be integer values, and they start from 0 for the first row/column, 1 for the second row/column, and so on.\nIt allows you to access data based on the numerical position of rows and columns, regardless of the actual labels assigned to them.\nFor example: df.iloc[1, 0] will give you the value in the second row (index 1) and first column (index 0).'

Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].

In [15]:
new_df=df.reindex([3,0,1,2])
new_df.loc[2]

course_name    Big Data
duration              6
Name: 2, dtype: object

In [13]:
new_df.iloc[2]

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [16]:
"""here we find the diffrence in answer because when we use loc new_df.loc[2] gives the row with label (index) '2' in the DataFrame. The label '2' corresponds to the row with the course name 'Big Data' and duration '6',
and in new_df.iloc[2] gives the row with position (index) 2 in the DataFrame. The position 2 corresponds to the row with the course name 'Machine Learning' and duration '3'."""

"here we find the diffrence in answer because when we use loc new_df.loc[2] gives the row with label (index) '2' in the DataFrame. The label '2' corresponds to the row with the course name 'Big Data' and duration '6',\nand in new_df.iloc[2] gives the row with position (index) 2 in the DataFrame. The position 2 corresponds to the row with the course name 'Machine Learning' and duration '3'."

In [17]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [18]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.624986  0.477029  0.283545  0.902134  0.486655  0.736340
2  0.462728  0.531863  0.935035  0.577418  0.313788  0.503564
3  0.907766  0.965936  0.100642  0.906348  0.501396  0.371852
4  0.116880  0.717898  0.823104  0.432861  0.585227  0.655244
5  0.586559  0.687951  0.410200  0.796924  0.065886  0.687740
6  0.442679  0.868808  0.935749  0.510228  0.405591  0.840523

Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’

In [20]:
# (i)
df1_mean=df1.mean()
df1_mean

column_1    0.523600
column_2    0.708247
column_3    0.581379
column_4    0.687652
column_5    0.393091
column_6    0.632544
dtype: float64

In [21]:
df1_stds=df1['column_2'].std()

In [23]:
df1_stds

0.18828799635595986

Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]

In [24]:
import pandas as pd

# Assuming 'df1' is the DataFrame provided in the question
# If you have a different DataFrame name, replace 'df1' with your DataFrame variable name.

# Replace the data in the second row of 'column_2' with a string variable
df1.loc[1, 'column_2'] = "replacement_string"

# Find the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()

print("Mean of 'column_2':", mean_column_2)


To replace the data present in the second row of column 'column_2' with a string variable, you can use the df.loc[] method to access the specific cell and update its value. Then, you can find the mean of 'column_2'. However, there is a potential issue if the data type of 'column_2' is not compatible with the string variable you are trying to replace with.

Here's the code to achieve this:

python
Copy code
import pandas as pd

# Assuming 'df1' is the DataFrame provided in the question
# If you have a different DataFrame name, replace 'df1' with your DataFrame variable name.

# Replace the data in the second row of 'column_2' with a string variable
df1.loc[1, 'column_2'] = "replacement_string"

# Find the mean of 'column_2'
mean_column_2 = df1['column_2'].mean()

print("Mean of 'column_2':", mean_column_2)
"""In this code, I have replaced the data in the second row of 'column_2' with the string "replacement_string". However, if the original data in 'column_2' was not a compatible data type (e.g., integer or float),
replacing it with a string could cause an error."""

TypeError: can only concatenate str (not "float") to str

Q6. What do you understand about the windows function in pandas and list the types of windows
functions?

In [25]:
"""In pandas, a "window" refers to a set of rows within a DataFrame that are used for computing and performing operations.
Window functions allow you to perform calculations on a specific subset of data defined by this window. These functions are essential for tasks that require computing aggregated results or performing calculations over a sliding or rolling window of data, such as time series analysis, moving averages, cumulative sums, and more.
Types of Window Functions in pandas:

Rolling Window Functions:

Rolling window functions are used to perform calculations on a fixed-size rolling window of data.
Example: df['column'].rolling(window=3).mean()
Expanding Window Functions:

Expanding window functions calculate statistics for all data points in a DataFrame up to the current point, gradually expanding the window.
Example: df['column'].expanding().sum()"""

'In pandas, a "window" refers to a set of rows within a DataFrame that are used for computing and performing operations.\nWindow functions allow you to perform calculations on a specific subset of data defined by this window. These functions are essential for tasks that require computing aggregated results or performing calculations over a sliding or rolling window of data, such as time series analysis, moving averages, cumulative sums, and more.\nTypes of Window Functions in pandas:\n\nRolling Window Functions:\n\nRolling window functions are used to perform calculations on a fixed-size rolling window of data.\nExample: df[\'column\'].rolling(window=3).mean()\nExpanding Window Functions:\n\nExpanding window functions calculate statistics for all data points in a DataFrame up to the current point, gradually expanding the window.\nExample: df[\'column\'].expanding().sum()'

Q7. Write a code to print only the current month and year at the time of answering this question.

In [29]:
from datetime import datetime

# Get the current date and time
current_datetime = datetime.now()

# Extract the current month and year from the current date
current_month = current_datetime.month
current_year = current_datetime.year

# Print the current month and year
print("Current Month:", current_month)
print("Current Year:", current_year)

Current Month: 7
Current Year: 2023

Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.

In [ ]:
import pandas as pd

def calculate_time_difference(date1, date2):
    try:
        # Convert the input dates to pandas datetime objects
        date1 = pd.to_datetime(date1)
        date2 = pd.to_datetime(date2)

        # Calculate the time difference using pandas timedelta
        time_difference = date2 - date1

        # Extract the days, hours, and minutes from the timedelta
        days = time_difference.days
        hours = time_difference.seconds // 3600
        minutes = (time_difference.seconds // 60) % 60

        return days, hours, minutes

    except ValueError:
        return None

# Prompt the user to enter the two dates
date1_input = input("Enter the first date (YYYY-MM-DD): ")
date2_input = input("Enter the second date (YYYY-MM-DD): ")

# Calculate the time difference between the two dates
result = calculate_time_difference(date1_input, date2_input)

if result is not None:
    days, hours, minutes = result
    print("Time Difference:")
    print(f"{days} days, {hours} hours, and {minutes} minutes.")
else:
    print("Invalid date format. Please enter dates in the format 'YYYY-MM-DD'.")

Q9. Write a Python program that reads a CSV file containing categorical data and converts a specified
column to a categorical data type. The program should prompt the user to enter the file path, column
name, and category order, and then display the sorted data.

In [ ]:
import pandas as pd

def convert_to_categorical(df, column_name, category_order):
    # Convert the specified column to a categorical data type
    df[column_name] = pd.Categorical(df[column_name], categories=category_order, ordered=True)
    return df

def main():
    # Prompt the user to enter the file path, column name, and category order
    file_path = input("Enter the CSV file path: ")
    column_name = input("Enter the column name to convert to categorical: ")
    category_order = input("Enter the category order (comma-separated): ").split(",")

    try:
        # Read the CSV file into a DataFrame
        df = pd.read_csv(file_path)

        # Convert the specified column to a categorical data type
        df = convert_to_categorical(df, column_name, category_order)

        # Display the sorted data based on the category order
        sorted_df = df.sort_values(by=column_name)
        print(sorted_df)

    except FileNotFoundError:
        print("Error: File not found. Please check the file path.")
    except KeyError:
        print(f"Error: Column '{column_name}' not found in the CSV file.")
    except ValueError:
        print("Error: Invalid category order format. Please enter comma-separated categories.")

if __name__ == "__main__":
    main()

Q10. Write a Python program that reads a CSV file containing sales data for different products and
visualizes the data using a stacked bar chart to show the sales of each product category over time. The
program should prompt the user to enter the file path and display the chart.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

def plot_stacked_bar_chart(data):
    # Grouping data by time (assuming there's a 'Time' column in the CSV)
    grouped_data = data.groupby(['Time', 'Product Category'])['Sales'].sum().unstack()

    # Plotting the stacked bar chart
    plt.figure(figsize=(10, 6))
    grouped_data.plot(kind='bar', stacked=True, rot=45)
    plt.xlabel('Time')
    plt.ylabel('Sales')
    plt.title('Sales of Product Categories Over Time')
    plt.legend(title='Product Category')
    plt.tight_layout()
    plt.show()

def main():
    file_path = input("Enter the file path for the CSV file: ")

    try:
        # Reading the CSV file using pandas
        data = pd.read_csv(file_path)

        # Displaying the stacked bar chart
        plot_stacked_bar_chart(data)
    except FileNotFoundError:
        print("File not found. Please provide a valid file path.")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    main()

Q11. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
The program should do the followingM
I Prompt the user to enter the file path of the CSV file containing the student dataR
I Read the CSV file into a Pandas DataFrameR
I Calculate the mean, median, and mode of the test scores using Pandas toolsR
I Display the mean, median, and mode in a table.
Assume the CSV file contains the following columnsM
I Student ID: The ID of the studentR
I Test Score: The score of the student's test.
Example usage of the program:
Enter the file path of the CSV file containing the student data: student_data.csv
+-----------+--------+
| Statistic | Value |
+-----------+--------+
| Mean | 79.6 |
| Median | 82 |
| Mode | 85, 90 |
+-----------+--------+
Assume that the CSV file student_data.csv contains the following data:
Student ID,Test Score
1,85
2,90
3,80
4,75
5,85
6,82
7,78
8,85
9,90
10,85
The program should calculate the mean, median, and mode of the test scores and display the results
in a table.

In [ ]:
import pandas as pd

def calculate_statistics(data):
    mean_score = data['Test Score'].mean()
    median_score = data['Test Score'].median()
    mode_score = data['Test Score'].mode()

    return mean_score, median_score, mode_score

def display_results(mean_score, median_score, mode_score):
    result_table = pd.DataFrame({
        'Statistic': ['Mean', 'Median', 'Mode'],
        'Value': [mean_score, median_score, ', '.join(map(str, mode_score))]
    })

    print(result_table)

def main():
    file_path = input("Enter the file path of the CSV file containing the student data: ")

    try:
        # Reading the CSV file into a Pandas DataFrame
        data = pd.read_csv(file_path)

        # Calculating the mean, median, and mode of the test scores
        mean_score, median_score, mode_score = calculate_statistics(data)

        # Displaying the results in a table
        display_results(mean_score, median_score, mode_score)
    except FileNotFoundError:
        print("File not found. Please provide a valid file path.")
    except Exception as e:
        print(f"An error occurred: {e}")

if __name__ == "__main__":
    main()