Q1. List any five functions of the pandas library with execution.

In [7]:
# Answer 1
#Here are five common functions along with their execution examples arend analysis. Here are five common functions along with their execution examples:

# 1.pandas.read_csv(): This function is used to read data from a CSV file and create a DataFrame.
import pandas as pd
df=pd.read_csv("car data.csv")
print(df)

# 2.DataFrame.head(): This function returns the first few rows of a DataFrame, which is useful for a quick look at the data.
df.head()

# 3.DataFrame.tail():This function returns the last few rows of a DataFrame, which is useful for a quick look at the data.
df.tail()

# 4.DataFrame.info():: This function provides a concise summary of the DataFrame, including the data types, non-null counts, and memory usage.
df.info()
# 5 DataFrame.describe(): This function generates descriptive statistics of a DataFrame, providing information such as mean, standard deviation, minimum, maximum, etc.
df.describe()

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.

In [14]:
# answer 2
def reindex_with_increment(df):
    new_index=pd.RangeIndex(start=1, stop=2 * len(df), step=2)
    df.index=new_index
    return df
data={'A':[10,2,5,3],
     'B':[2,5,2,532],
     'C':[3,6,53,2]}
df=pd.DataFrame(data)
df_new_index=reindex_with_increment(df)
print(df_new_index)

    A    B   C
1  10    2   3
3   2    5   6
5   5    2  53
7   3  532   2

RangeIndex(start=1, stop=8, step=2)

Q3You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.

In [23]:
#Ans 3
import pandas as pd
def calculate_sum(df):
    add=df['values'].head(3).sum()
    print(add)
df=pd.DataFrame({'values':[10,20,30,30,40,70,665]})
calculate_sum(df)

60

Q4.Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.

In [28]:
# Ans 4
def countword(dfd):
    dfd['Word_Count'] = dfd['Text'].apply(lambda x: len(str(x).split()))

data={'Text':["hello how are you","are you serious","oh god"]}
dfd=pd.DataFrame(data)

countword(dfd)
print(dfd)

                Text  Word_Count
0  hello how are you           4
1    are you serious           3
2             oh god           2

Q5. How are DataFrame.size() and DataFrame.shape() different?

In [29]:
""""Answer 5
DataFrame.size:
DataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the number of rows multiplied by the 
number of columns.
The attribute returns a single integer value representing the size of the DataFrame.
The formula to calculate the size is: DataFrame.size = number of rows * number of columns.
DataFrame.shape:

DataFrame.shape is a tuple that returns the dimensions of the DataFrame in the form (number of rows, number of columns).
The attribute provides a more intuitive way to understand the DataFrame's structure as it explicitly gives the number of
rows and columns separately"""

'"Answer 5\nDataFrame.size:\nDataFrame.size returns the total number of elements in the DataFrame, which is equivalent to the number of rows multiplied by the \nnumber of columns.\nThe attribute returns a single integer value representing the size of the DataFrame.\nThe formula to calculate the size is: DataFrame.size = number of rows * number of columns.\nDataFrame.shape:\n\nDataFrame.shape is a tuple that returns the dimensions of the DataFrame in the form (number of rows, number of columns).\nThe attribute provides a more intuitive way to understand the DataFrame\'s structure as it explicitly gives the number of\nrows and columns separately'

Q6 
Which function of pandas do we use to read an excel file?

In [30]:
"""Answer 6
To read an Excel file in pandas, you can use the pd.read_excel() function. This function allows you to read data from an
Excel file and create a pandas DataFrame from it.
import pandas as pd


file_path = 'file_path.xlsx'
df = pd.read_excel(file_path)"""

"To read an Excel file in pandas, you can use the pd.read_excel() function. This function allows you to read data from an\nExcel file and create a pandas DataFrame from it.\nimport pandas as pd\n\n\nfile_path = 'file_path.xlsx'\ndf = pd.read_excel(file_path)"

Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.

In [36]:
# Answer 7
import pandas as pd
def usernamecheck(dataf):
    dataf['Username']=dataf['Email'].str.split('@').str[0]
    return dataf
dataf=pd.DataFrame({'Email':["sahil@1234.com","rohit@gmail.com","rohan@gmail.com","veer@gmail.com"]})
usernamecheck(dataf)

             Email Username
0   sahil@1234.com    sahil
1  rohit@gmail.com    rohit
2  rohan@gmail.com    rohan
3   veer@gmail.com     veer

Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.

In [17]:
# Ans 8
import pandas as pd
def selectrow(df):
    u=df[(df['A'] > 5) & (df['B'] < 10)]
    return u
dic={'A':[3,8,6,2,9],'B':[5,19,2,13,1],'C':[1,7,5,4,2]}
df=pd.DataFrame(dic)
#print(df)
k=selectrow(df)
print(k)

   A  B  C
2  6  2  5
4  9  1  2

Q9.
Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.

In [28]:
import pandas as pd
def calculate_mean(df):
    
    means=df['Values'].mean()
    print("Mean of values is",means)
def calculate_median(df):
    medians=df['Values'].median()
    print("median of values",medians)
def calculate_standarddeviation(df):
    stds=df['Values'].std()
    print("standard deviation values",stds)
    
df=pd.DataFrame({'Values':[1,2,4,565,7,445]})
# print(df)
calculate_mean(df)
calculate_median(df)
calculate_standarddeviation(df)

Mean of values is 170.66666666666666
median of values 5.5
standard deviation values 261.7469515900169

Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.

In [32]:
import pandas as pd

df=pd.DataFrame({'Sales':[3000,2323,5000,3333],'Date':[19-3-2021,20-3-2021,21-3-2021,22-3-2023]})
def calculate_moving_average(df):
    window_size = 7
    # Ensure the DataFrame is sorted by the 'Date' column
    df = df.sort_values(by='Date')
    
    # Calculate the moving average using rolling() and mean()
    df['MovingAverage'] = df['Sales'].rolling(window=window_size, min_periods=1).mean()
    
    return df

# Example usage:
# Assuming 'df' is your Pandas DataFrame with 'Sales' and 'Date' columns
df_with_moving_avg = calculate_moving_average(df)

# Display the updated DataFrame with the 'MovingAverage' column
print(df_with_moving_avg)

   Sales  Date  MovingAverage
0   3000 -2005    3000.000000
1   2323 -2004    2661.500000
3   3333 -2004    2885.333333
2   5000 -2003    3414.000000

Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.
For example, if df contains the following values:
Date
0 2023-01-01
1 2023-01-02
2 2023-01-03
3 2023-01-04
4 2023-01-05
Your function should create the following DataFrame:

Date Weekday
0 2023-01-01 Sunday
1 2023-01-02 Monday
2 2023-01-03 Tuesday
3 2023-01-04 Wednesday
4 2023-01-05 Thursday
The function should return the modified DataFrame.

In [35]:
import pandas as pd

def add_weekday_column(df):
    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Extract weekday names from the 'Date' column and add them to the 'Weekday' column
    df['Weekday'] = df['Date'].dt.strftime('%A')
    
    return df

# Example usage:
# Assuming 'df' is your Pandas DataFrame with 'Date' column containing timestamps
# Date format should be in 'YYYY-MM-DD' format.
data = {
    'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']
}
df = pd.DataFrame(data)

modified_df = add_weekday_column(df)

# Display the modified DataFrame
print(modified_df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.

In [34]:
import pandas as pd

# Sample DataFrame with a 'Date' column containing timestamps
data = {
    'Date': ['2023-01-01', '2023-01-15', '2023-01-20', '2023-02-10', '2023-01-31'],
    'Value': [10, 20, 15, 30, 25]
}

df = pd.DataFrame(data)

def select_rows_between_dates(df):
    # Convert the 'Date' column to datetime if it's not already
    df['Date'] = pd.to_datetime(df['Date'])
    
    # Define the start and end dates for filtering
    start_date = '2023-01-01'
    end_date = '2023-01-31'
    
    # Use boolean indexing to select rows between the specified dates
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    
    return selected_rows

# Call the function to select rows between '2023-01-01' and '2023-01-31'
selected_rows_df = select_rows_between_dates(df)

# Display the DataFrame with selected rows
print(selected_rows_df)

        Date  Value
0 2023-01-01     10
1 2023-01-15     20
2 2023-01-20     15
4 2023-01-31     25

Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?

In [30]:
# The first and foremost necessary library that needs to be imported to use the basic functions of pandas is pandas itself.
import pandas as pd